@media (min-width: 1920px) {
    html,
    body {
        max-width: 1920px;
        margin: auto;
    }
}

@media (max-width: 1651px) {
    .c-label {
        font-size: 1.35rem;
    }
    .item-project-invest > div[class^="col"] .c-label {
        padding: 0.5rem;
    }
    .item-project-invest > div[class^="col"] .c-value {
        padding: 0.5rem 0.25rem;
    }
    .column-left .box,
    .columns .box,
    .columns .column-right .box,
    .column.column-right {
        padding: 1.25rem;
    }
    html,
    body {
        font-size: 14px;
    }
}
@media (max-width: 1441px) {
    .c-label {
        font-size: 1.1rem;
    }
    .columns .top-column .table-name {
        font-size: 1.2rem;
    }
    .column-left .box,
    .columns .box,
    .columns .column-right .box,
    .column.column-right {
        padding: 1rem;
    }
    .columns .column {
        width: 15.75rem;
    }
    html,
    body {
        font-size: 13px;
    }
}
@media (max-width: 1201px) {
    .box-char-invest {
        max-width: 300px;
        margin: auto;
    }
    .column.column-right .item-box.box-1 {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .btn-menu {
        display: block;
    }
    .columns .top-column {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .item-project-invest > div[class^="col"]:nth-child(1),
    .item-project-invest.history > div[class^="col"]:not(:first-child),
    .item-project-invest.history > div[class^="col"],
    .item-project-invest.complete > div[class^="col"]:nth-child(1) {
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .item-project-invest > div[class^="col"] .c-value:before {
        content: attr(data-title);
        text-align: left;
        font-weight: 600;
        margin-bottom: 0.3125rem;
        font-size: 0.875rem;
    }

    .item-project-invest > div[class^="col"] .c-value,
    .item-project-invest.history > div[class^="col"]:nth-child(2) > * {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.75rem 0;
        font-size: 1.125rem !important;
    }

    .item-project-invest > div[class^="col"] {
        border-bottom: solid thin #ebebeb;
    }
    .aside {
        width: 100%;
        height: auto;
        padding-bottom: 1rem;
        position: relative;
        z-index: 1;
    }
    .columns,
    .columns .column {
        width: 100%;
    }
    .box-char-percent .inner {
        max-width: 50%;
        margin-right: 1.25rem;
    }

    .box-char-percent {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .column-left .box,
    .columns .column {
        height: auto;
    }
    .column-left .lengends ul li {
        flex: auto;
        margin: 0 0.625rem;
    }
    .item-project-invest:not(:last-child) {
        margin-bottom: 1rem;
    }
    .manager-table {
        padding-top: 0.75rem;
    }
    .btn-menu {
        height: fit-content;
        width: 3.75rem;
        text-align: center;
        background: #fff;
        color: #03204c;
        height: 3.75rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .board-admin .logo-dashboard {
        margin: unset;
        margin-right: auto;
    }
    .manager-table {
        display: none;
        width: 100%;
    }
    .aside {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: sticky;
        padding-top: 0.75rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        z-index: 10;
    }
}

@media (max-width: 768px) {
    html,
    body {
        font-size: 13.5px;
    }
    .item-project-invest > div[class^="col"] .c-value,
    .item-project-invest.history > div[class^="col"]:nth-child(2) > * {
        font-size: 1rem !important;
    }
    .columns .top-column .table-name {
        font-size: 1.1rem;
    }
    .form-search {
        max-width: 100%;
    }
    .box-char-percent {
        flex-wrap: wrap;
    }
    .box-char-percent .inner {
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .group-user .btn_user {
        display: none;
    }
}
